In [92]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

In [93]:
# import data
parse_dates=['start_time', 'end_time']
df = pd.read_csv('./201902-fordgobike-tripdata.csv', parse_dates=parse_dates)

In [94]:
# create date col
df['trip_date']=df['end_time'].dt.date

In [95]:
# quick summary
df.tail()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip,trip_date
183407,480,2019-02-01 00:04:49.724,2019-02-01 00:12:50.034,27.0,Beale St at Harrison St,37.788059,-122.391865,324.0,Union Square (Powell St at Post St),37.788300,-122.408531,4832,Subscriber,1996.0,Male,No,2019-02-01
183408,313,2019-02-01 00:05:34.744,2019-02-01 00:10:48.502,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,66.0,3rd St at Townsend St,37.778742,-122.392741,4960,Subscriber,1984.0,Male,No,2019-02-01
183409,141,2019-02-01 00:06:05.549,2019-02-01 00:08:27.220,278.0,The Alameda at Bush St,37.331932,-121.904888,277.0,Morrison Ave at Julian St,37.333658,-121.908586,3824,Subscriber,1990.0,Male,Yes,2019-02-01
183410,139,2019-02-01 00:05:34.360,2019-02-01 00:07:54.287,220.0,San Pablo Ave at MLK Jr Way,37.811351,-122.273422,216.0,San Pablo Ave at 27th St,37.817827,-122.275698,5095,Subscriber,1988.0,Male,No,2019-02-01
183411,271,2019-02-01 00:00:20.636,2019-02-01 00:04:52.058,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No,2019-02-01

In [96]:
# get trip counts per day
# df.groupby('trip_date').count()
df.groupby('trip_date').count()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
trip_date,,,,,,,,,,,,,,,,
2019-02-01,6118,6118,6118,6114,6114,6118,6118,6114,6114,6118,6118,6118,6118,5818,5818,6118
2019-02-02,3241,3241,3241,3239,3239,3241,3241,3239,3239,3241,3241,3241,3241,3014,3014,3241
2019-02-03,2841,2841,2841,2840,2840,2841,2841,2840,2840,2841,2841,2841,2841,2710,2710,2841
2019-02-04,5487,5487,5487,5487,5487,5487,5487,5487,5487,5487,5487,5487,5487,5268,5268,5487
2019-02-05,8485,8485,8485,8483,8483,8485,8485,8483,8483,8485,8485,8485,8485,8139,8139,8485
2019-02-06,9056,9056,9056,9051,9051,9056,9056,9051,9051,9056,9056,9056,9056,8658,8658,9056
2019-02-07,9229,9229,9229,9225,9225,9229,9229,9225,9225,9229,9229,9229,9229,8801,8801,9229
2019-02-08,6362,6362,6362,6358,6358,6362,6362,6358,6358,6362,6362,6362,6362,6100,6100,6362
2019-02-09,2732,2732,2732,2723,2723,2732,2732,2723,2723,2732,2732,2732,2732,2560,2560,2732
2019-02-10,3953,3953,3953,3943,3943,3953,3953,3943,3943,3953,3953,3953,3953,3700,3700,3953
2019-02-11,8679,8679,8679,8662,8662,8679,8679,8662,8662,8679,8679,8679,8679,8331,8331,8679
2019-02-12,8481,8481,8481,8474,8474,8481,8481,8474,8474,8481,8481,8481,8481,8169,8169,8481
2019-02-13,3208,3208,3208,3206,3206,3208,3208,3206,3206,3208,3208,3208,3208,3087,3087,3208
2019-02-14,6586,6586,6586,6586,6586,6586,6586,6586,6586,6586,6586,6586,6586,6335,6335,6586
2019-02-15,7292,7292,7292,7292,7292,7292,7292,7292,7292,7292,7292,7292,7292,6978,6978,7292
2019-02-16,3988,3988,3988,3987,3987,3988,3988,3987,3987,3988,3988,3988,3988,3730,3730,3988
2019-02-17,4227,4227,4227,4225,4225,4227,4227,4225,4225,4227,4227,4227,4227,3885,3885,4227
2019-02-18,5651,5651,5651,5631,5631,5651,5651,5631,5631,5651,5651,5651,5651,5317,5317,5651
2019-02-19,9468,9468,9468,9454,9454,9468,9468,9454,9454,9468,9468,9468,9468,9110,9110,9468
2019-02-20,9664,9664,9664,9648,9648,9664,9664,9648,9648,9664,9664,9664,9664,9257,9257,9664
2019-02-21,9540,9540,9540,9531,9531,9540,9540,9531,9531,9540,9540,9540,9540,9134,9134,9540
2019-02-22,9193,9193,9193,9182,9182,9193,9193,9182,9182,9193,9193,9193,9193,8764,8764,9193
2019-02-23,5452,5452,5452,5436,5436,5452,5452,5436,5436,5452,5452,5452,5452,5146,5146,5452
2019-02-24,4502,4502,4502,4495,4495,4502,4502,4495,4495,4502,4502,4502,4502,4244,4244,4502
2019-02-25,7042,7042,7042,7034,7034,7042,7042,7034,7034,7042,7042,7042,7042,6770,6770,7042
2019-02-26,5386,5386,5386,5377,5377,5386,5386,5377,5377,5386,5386,5386,5386,5205,5205,5386
2019-02-27,7703,7703,7703,7694,7694,7703,7703,7694,7694,7703,7703,7703,7703,7445,7445,7703
2019-02-28,9830,9830,9830,9822,9822,9830,9830,9822,9822,9830,9830,9830,9830,9458,9458,9830
2019-03-01,16,16,16,16,16,16,16,16,16,16,16,16,16,14,14,16

In [97]:
# for a day 
# get count of bike trips per day 
# This will set the date column as an index 
isFebFirst=df['start_time']=='2019-02-01'
df = df.set_index(['start_time'])
df1=df.loc['2019-2-1':'2019-2-1']

In [101]:
# work with data from feb first
# sort data based on start_time
df1=df1.sort_values(by=['start_time'])

,duration_sec,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip,trip_date
start_time,,,,,,,,,,,,,,,,
2019-02-01 00:00:20.636,271,2019-02-01 00:04:52.058,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No,2019-02-01
2019-02-01 00:04:40.616,706,2019-02-01 00:16:27.080,138.0,Jersey St at Church St,37.750900,-122.427411,78.0,Folsom St at 9th St,37.773717,-122.411647,5017,Subscriber,1988.0,Male,No,2019-02-01
2019-02-01 00:04:49.724,480,2019-02-01 00:12:50.034,27.0,Beale St at Harrison St,37.788059,-122.391865,324.0,Union Square (Powell St at Post St),37.788300,-122.408531,4832,Subscriber,1996.0,Male,No,2019-02-01
2019-02-01 00:05:34.360,139,2019-02-01 00:07:54.287,220.0,San Pablo Ave at MLK Jr Way,37.811351,-122.273422,216.0,San Pablo Ave at 27th St,37.817827,-122.275698,5095,Subscriber,1988.0,Male,No,2019-02-01
2019-02-01 00:05:34.744,313,2019-02-01 00:10:48.502,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,66.0,3rd St at Townsend St,37.778742,-122.392741,4960,Subscriber,1984.0,Male,No,2019-02-01

In [106]:
# counts per bike id for a day 
df1bikeCount = df1.groupby('bike_id').count()

In [ ]:
# Draw